.country_display {
    margin-top: 145px;
}

.component_header {
    border-bottom: 1px solid blue;
}

.component_header_holder {
    padding: 0px 50px 0 50px;
    position: fixed;
    display: flex;
}


.country_form_container {
    display: inline-flex
}

.country_list_container {
    display: inline-flex
}

@media screen and (min-width: 375px){}